version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: fipe-api-1-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - default
      - fipe-network
    command: redis-server --appendonly yes

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: fipe-api-1-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - default
      - fipe-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: fipe-api-1-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - default

volumes:
  redis_data:

networks:
  fipe-network:
    external: true
    name: fipe-network